01-exceptions-start/src/main/mule/01-exceptions-start.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b8bad242-743d-4595-a3d0-c477085d5538" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config> 
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="bd318e5b-87be-463c-90ad-f9e8afb0aea5" >
		<wsc:connection wsdlLocation="products.wsdl" service="ProductServicePortService" port="ProductServicePortSoap11" address="http://localhost:6060/soap/ws" />
	</wsc:config>
	<validation:config name="Validation_Config" doc:name="Validation Config" doc:id="351e7c1c-2f5c-4e99-bdef-56663705ee20" />
	<configuration doc:name="Configuration" doc:id="e9567dbe-c782-444f-8178-b04ba51e610b" defaultErrorHandler-ref="01-exceptions-startError_Handler" />
	<error-handler name="01-exceptions-startError_Handler" doc:id="a22fda2b-796a-49d1-95ce-22b8113931ca" >
		<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="1333a263-200a-42ea-8ece-06c7e63f1cb2" >
			<logger level="INFO" doc:name="Logger" doc:id="7d16e03c-e630-4eb5-84a6-2a2956b604a6" message='"In Global Error Handler"'/>
		</on-error-continue>
	</error-handler>
	<flow name="getproductsbyname" doc:id="d954f7f3-18a7-4285-a430-eaa9a82e9466" >
		<wsc:consume operation="getProductsByName" doc:name="Consume" doc:id="4f535350-6c55-40d9-bb10-93282d305486" config-ref="Web_Service_Consumer_Config" >
			<error-mapping sourceType="WSC:CANNOT_DISPATCH" targetType="APP:SIVACONNECTIVITYERROR" />
		</wsc:consume>
		<logger level="INFO" doc:name="Logger" doc:id="b45dbcf6-8ee9-4d00-84a5-28a42d9b8d8e" message="#['After  webservice consumer ==========']"/>
		<ee:transform doc:name="Transform Message" doc:id="0d0c39a3-0e01-47d8-90cc-699948f41303" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="29ba3324-87a5-40f0-aadf-2a07edbc3133" type="APP:SIVACONNECTIVITYERROR">
				<set-payload value="'In getproductsbyname after error from webservice----on error propagate error type: APP:SIVACONNECTIVITYERROR'" doc:name="Set Payload" doc:id="7a8efc75-2d8e-40a4-b09b-738c38c5f980" />
				<logger level="INFO" doc:name="Logger" doc:id="5c91ae56-70d1-4233-bdf5-45c54146827a" message="'in getproductsbyname after error from webservice----on error Propagate'"/>
				<raise-error doc:name="Raise error" doc:id="2046873b-b304-40d1-83ee-0f8075191eb6" type="APP:SIVACUSTOMERROR" description="My Custom Errorrrrr"/>
			</on-error-propagate>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="aab135bc-6fa1-41dc-8449-fc9b30be5f1e" >
				<set-payload value="'In getproductsbyname after error from webservice------on error continue'" doc:name="Set Payload" doc:id="d9289a2b-62a0-48c8-b878-279768f29143" />
				<logger level="INFO" doc:name="Logger" doc:id="9ef98d26-da1b-4903-8d61-ba8f70923b0b" message='"In getproductsbyname after error from webservice----on error continue"'/>
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="ValidateAndTransform" doc:id="65e8fa3b-488e-433f-bbe5-9f29d816e89b" >
		<validation:is-true doc:name="Is true" doc:id="e268bfe3-66f5-40cb-820c-a341ffa6f24c" config-ref="Validation_Config" expression="#[['Hp','Mac'] contains  attributes.queryParams.productname]" message="Invalid productname!!!!!!!!!!!!!!!!!!!!!!!" />
		<ee:transform doc:name="Transform Message" doc:id="9940b230-b383-43c1-a7a1-29c6c6009a55">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http//way2learnonline.com/domain
---
{
	ns0#getProductsByNameRequest: {
		name: attributes.queryParams.productname as String
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="getproductsbyname" doc:id="bb84052b-0b6b-42fe-8a0a-84b1625045ce" name="getproductsbyname"/>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b72392d2-5af7-4778-bbe5-b87e95ae872e" >
				<logger level="INFO" doc:name="Logger" doc:id="480c119b-06c1-438a-be83-3015e1f80393" message='"Inside on error propagate of ValidateAndTransform"'/>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="mainflow" doc:id="ee659804-71de-4bec-b8b8-508498da5f77" >
		<http:listener doc:name="Listener" doc:id="31fc9438-d138-4d76-9676-2ecf367fb2fb" config-ref="HTTP_Listener_config" path="/error">
			<http:error-response >
				<http:body ><![CDATA[#[output application/json --- error.errorType]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="ValidateAndTransform" doc:id="ec1054d2-5bce-4ecf-bf53-bf8c3bb49f60" name="ValidateAndTransform"/>
		<logger level="INFO" doc:name="Logger" doc:id="f52a19db-0726-4478-a10b-50bea1955787" message="#['in main flow After Getting all products']"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="36469198-7a75-4bad-9cea-c87a9b27f01a" />
	</flow>
</mule>
